{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

  <br>

  <h2>Your Business Information Summary</h2>


<p> Congratulations!  You have created an account and provided us the necessary business information.

This information was automatically saved.  However, in subsequent screens you will be required to save your information by selecting the Save buttons or prompted when exiting the site.
</p>



<br>
  <a class="btn btn-default" type="button" href="/logout/">Logout</a>
  <a class="btn pull-right btn-success" type="button" href="/dashboard/">Continue</a>




{% endblock %}
