<h3>Welcome to <i>AgBizFinance</i>!</h3>

<p>To build an <i>AgBizFinance</i> Analysis for evaluating the financial performance of
  future investments, you'll need to create a beginning balance sheet and enter
  your current loans and leases. Click "Next" to get started.</p>

<br />

<div class="row">
  <div class="col-md-1 pull-left">
    <button
      class="btn btn-default"
      ng-click="$ctrl.skip()">
      Cancel
    </button>
  </div>
  <div class="col-md-2 pull-right">
    <button
      class="btn btn-success"
      ng-click="$ctrl.proceed()">
      Next
    </button>
  </div>
</div>
