<h3>Create Your First <i>AgBizFinance</i> Scenario</h3>

<p>Now that you've entered your financial information, you are ready to create your first <i>AgBizFinance</i> scenario.
  You will need at least two <i>AgBizFinance</i> scenarios to create an <i>AgBizFinance</i> analysis.
  Click "Next" to begin your first scenario, or click "Cancel" to return to the <i>AgBizFinance</i> dashboard.</p>

<br />

<div class="row">
  <div class="col-md-1 pull-left">
    <button
      class="btn btn-default"
      ng-click="$ctrl.skip()">
      Cancel
    </button>
  </div>
  <div class="col-md-2 pull-right">
    <button
      class="btn btn-success"
      ng-click="$ctrl.proceed()">
      Next
    </button>
  </div>
</div>
