<h3>Build Your <i>AgBizFinance</i> Analysis</h3>
<h4>Future Leases</h4>
<finance-step-indicator
  step="6"
  steps="$ctrl.steps">
</finance-step-indicator>

<div class="row">
  <div class="col-md-3 pull-right">
    <button
      class="btn btn-default"
      ng-click="$ctrl.addTransaction()">
      Add New Transaction
    </button>
  </div>
</div>

<br />

<div class="row">
  <div class="panel-group col-md-10 col-md-offset-1" id="accordion">
    <div class="panel panel-default" ng-repeat="(key, value) in $ctrl.future_lease_list | groupBy: 'asset_type'">
      <div>
        <div class="panel-heading" style="background-color: #428bca;">
            <a data-toggle="collapse" data-parent="#accordion" ng-attr-href="#{{$index}}" style="color: white;">{{key}}</a>
        </div>
        <div ng-attr-id="{{$index}}" class="panel-collapse collapse in">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <!--<th style="text-align: right;">Loan Amount</th>-->
                <th style="text-align: right;">Annual Payment</th>
                <th style="text-align: right;">Years Before Leases Expired</th>

                <!--<th style="text-align: right;">Years before Loan Matures</th>
                <th style="text-align: right;">Type of Assets</th>
                <th style="text-align: right;">Action</th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in value">
                <td>{{item.financed_through}}</td>
              <!--  <td style="text-align: right;">${{item.loan_amount}}</td>-->
                <td style="text-align: right;">{{item.annual_payment}}</td>
                <td style="text-align: right;">{{item.year_of_lease}}</td>


                <td style="text-align: right;">
                  <div>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="$ctrl.edit(item)"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="$ctrl.remove(item.id)"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loading -->
<!--md-progress-circular
  class="col-md-offset-5"
  style="margin-top: 40px"
  ng-if="$ctrl.scenario === undefined"
  md-mode="indeterminate">
</md-progress-circular-->

<br />
<br />

<div class="row">
  <div class="col-md-1 pull-left">
    <button
      class="btn btn-default"
      ng-click="$ctrl.back()">
      Previous
    </button>
  </div>
  <div class="pull-right" style="margin-right: 10px">
    <button
      class="btn btn-success"
      ng-click="$ctrl.proceed()">
      Next
    </button>
  </div>
</div>
