{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AgBiz Logic</title>
        <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="{% static "css/bootstrap.min.css" %}" />

        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>

        <link rel="stylesheet" href="{% static "css/main.css" %}" />
      <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">



  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
        <script src="{% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>

    </head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>

        {% if user.is_authenticated %}
         <a class="navbar-brand" rel="home" href="/dashboard/" style='"Lato","Helvetica Neue",sans-serif;font-size: 22px;  font-weight: 700;'>
      <img style="max-width:30px; margin-top: -7px; margin-right: 3px;" src="{% static "img/icon.png" %}"> <i>AgBiz Logic</i>&#0153;</a>
        {% else %}
         <a class="navbar-brand" rel="home" href="/index/" style='"Lato","Helvetica Neue",sans-serif;font-size: 22px;  font-weight: 700;'>
      <img style="max-width:30px; margin-top: -7px; margin-right: 3px;" src="{% static "img/icon.png" %}"> <i>AgBiz Logic</i>&#0153;</a>
        {% endif %}

      </div>




        <div class="collapse navbar-collapse">
    {% if user.is_authenticated %}

    <ul style="margin-left: 100px;margin-top: 2px; font-size: 19px; font-weight: 550" class="nav navbar-nav navbar-center">
      <li> <a href="/index/#bottom">Contact Us</a> </li>
      <li> <a href="/resources/">Resources</a> </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a style="font-size: 19px;font-weight: 550; padding-left: 10px; padding-right: 10px;"class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"> {{user.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu first_dropdown">
            <li> <a class="dropdown-item" href="/index/#bottom" style="color: #e1e4e7;">Contact Us</a> </li>
            <li> <a class="dropdown-item" href="/resources/" style="color: #e1e4e7;">Resources</a> </li>
            <li class="dropdown-submenu"> <a tabindex="-1" class="dropdown-toggle" href="/profile_setting/" style="color: #e1e4e7;">Account Settings</a>
            </li>
            <li><a href="/logout/" style="color: #e1e4e7;">Logout</a></li>
          </ul>
      </li>
    </ul>

          {% else %}

      <ul class="nav navbar-nav navbar-right">
        <li> <a href="/index/#bottom">Contact Us</a> </li>
        <li>    <form action="#"><a href="/login/" class="btn btn-success navbar-btn">Log in</a>   </form> </li>
        <li> <form action="#"><a href="/account/" class="btn btn-success navbar-btn">Sign up</a> </form>  </li>
        <li> <a href="/resources/">Resources</a> </li>
      </ul>
    {% endif %}

    </div>

  </div>

</div>

      <div class="container">


      {% block content %}


      {% endblock %}


       <hr>


     <footer>
        <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <i>AgBiz Logic</i>. All Rights Reserved.</p>
      </footer>
    </div> <!-- /container -->
    <!-- <script src="{% static "jquery/dist/jquery.min.js" %}"></script> -->

        <script>window.jQuery || document.write('<script src="{% static "jquery/dist/jquery.min.js" %}"><\/script>')</script>


        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>


        <script src="{% static "js/main.js" %}"></script>
        {% block script %}


        {% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        <style>

        .dropdown-menu li:hover > ul.dropdown-menu {
            display: block;
        }

        .dropdown-submenu {
            position:relative;
        }
        .dropdown-submenu>.dropdown-menu {
            background-color: #34495e;
            top:0;
            left:100%;
            margin-top:-1px;
        }

        #dropdown-menu li:hover {
          background-color: #16a085
        }

        .dropdown:hover .first_dropdown {
            background-color: #34495e;
            display: block;
            margin-top:0px;
         }

         .first_dropdown li:hover {
           background-color: #16a085
         }

        </style>


       </body>
</html>
