
{% extends "base.html" %}

{% load bootstrap %}
{% load crispy_forms_tags %}
{% block content %}

  <div style="margin-top:4%; margin-left:1.5%;">
    <button class="btn btn-info" onclick="user_profile_setting()">User Profile Settings </button>
    <button class="btn btn-info" onclick="business_profile_setting()">Business Profile Settings </button></br>
  </div>
  <div class="container">
    <form method="POST" style="margin-top:4%;">

      {% csrf_token %}

      {{ form | crispy}}

      <div style="text-align:left">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>

    </form>
  </div>


  <script type="text/javascript">

    function user_profile_setting(){
      window.location.href = '/profile_setting/';
    }

    function business_profile_setting(){
      window.location.href = '/business_profile/';
    }

  </script>

{% endblock %}
