[Unit]
Description=agbiz

[Service]
Slice=machine.slice
ExecStart=/home/hammonse/projects/AgBiz-Logic/app/rkt-run-prod.sh
KillMode=mixed
Restart=always
