<div style="height: 10px;">
  <uib-progressbar
    value="$ctrl.progress"
    class="progress-striped active"
    max="50"
    ng-if="$ctrl.progress < 100">
  </uib-progressbar>
</div>

<h4>How will climate change affect your enterprise?</h4>

<div class="panel panel-default">
  <div class="panel-heading">
    <h6
      class="panel-title"
      ng-bind="$ctrl.climate_budget.title">
    </h6>
  </div>
  <div class="panel-body">
    Enter an estimate of what you think the combined effect of these climate variables
    will be on your yields or quality of products.
    The estimate you enter will automatically update your projected budget returns.
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <span class="col-md-6">Climate Variable</span>
      <span class="col-md-6">
        Estimated Effects on Yields
      </span>
    </div>
  </div>
  <div
    class="panel-body"
    style="height: 300px;">
    <div
      class="row"
      ng-repeat="factor in $ctrl.climate_budget.climate_factors">
      <hr class="item-divider">
      <span
        class="col-md-6"
        ng-bind="factor.name">
      </span>
      <span
        class=col-md-6
        ng-bind="'Your estimate: ' + factor.user_estimate + '%'">
      </span>
    </div>
    <hr class="item-divider">
    <div class="row">
      <span class="col-md-6">Climate Focus Groups</span>
      <span class="col-md-6">Coming Soon!</span>
    </div>
    <hr class="item-divider">
    <div class="row">
      <span class="col-md-6">Crop Models</span>
      <span class="col-md-6">Coming Soon!</span>
    </div>
    <div class="row">
      <hr>
      <span class="col-md-6"><b>Your Estimated Changes</b></span>
      <form name="$ctrl.form">
        <div class="input-group col-md-2">
          <input
            id="user-estimate" class="form-control" name="user_estimate"
            placeholder="0.0"
            min="-100" max="100" step="0.1"
            type="text"
            onfocus="if(this.value == 0)this.value = '';"
            onblur="if(this.value == '')this.value = 0.0;"
            ng-pattern="/^[-]{0,1}[0-9]{1,2}[0]{0,1}(\.[0-9]{1})?$/"
            ng-model="$ctrl.climate_budget.user_estimate"
            required>
          <span class="input-group-addon">% Change</span>
        </div>
        <span
          class="col-md-offset-6 col-md-6"
          style="color: red;"
          ng-show="!$ctrl.form.user_estimate.$valid">
          Please enter a percentage with 1 decimal place (ex. 20.0)
        </span>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <button
      class="btn btn-default"
      ng-click="$ctrl.back()">
      Back
    </button>
  </div>

  <div class="pull-right" style="margin-right: 10px">
    <button
      class="btn btn-success"
      ng-disabled="!$ctrl.form.user_estimate.$valid"
      ng-click="$ctrl.proceed()">
      Continue
    </button>
  </div>
</div>
