<h3 class="text-center">Your Current Financial Information</h3>

<finance-step-indicator
  step="2"
  steps="$ctrl.steps">
</finance-step-indicator>

<h4>Current Loans</h4>
<p>All current loans with a multi-year repayment plan should be recorded here.
  These loans will show in all of your <i>AgBizFinance</i> scenarios with any remaining annual principal and interest payments.</p>

<div class="row">
  <div class="col-md-9" >
  </div>
  <div class="col-md-2" >
    <button
      class="btn btn-default pull-right"
      ng-click="$ctrl.addTransaction()">
      Add New Current Loan
    </button>
  </div>
</div>

<br />

<div class="row">
  <div class="panel-group col-md-10 col-md-offset-1" id="accordion">
    <!-- <div class="panel panel-default" ng-repeat="(key, value) in $ctrl.current_loans_list | groupBy: 'asset_type'"> -->
      <div>
        <!-- <div class="panel-heading" style="background-color: #428bca;">
            <a data-toggle="collapse" data-parent="#accordion" ng-attr-href="#{{$index}}" style="color: white;">{{key}}</a>
        </div> -->
        <div class="panel-collapse collapse in">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th style="text-align: right;">Loan Amount</th>
                <th style="text-align: right;">Interest Rate</th>
                <th style="text-align: right;">Loan Repayment Term</th>
                <th style="text-align: right;">Years Before Loan Matures</th>
                <th style="text-align: right;">Type of Asset</th>
                <th style="text-align: right;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.current_loans_list | orderBy:'transaction_description'">
                <td>{{item.transaction_description}}</td>
                <td style="text-align: right;">{{item.loan_amount  | currency  }}</td>
                <td  style="text-align: right;">{{item.interest_rate | number }}%</td>
                <td style="text-align: right;">{{item.years_of_loan}}</td>
                <td style="text-align: right;">{{item.years_before_loan_matures}}</td>
                <td style="text-align: right;">{{item.asset_type}}</td>
                <td style="text-align: right;">
                  <div>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="$ctrl.edit(item)"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="$ctrl.remove(item.id)"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<!-- Loading -->
<!--md-progress-circular
  class="col-md-offset-5"
  style="margin-top: 40px"
  ng-if="$ctrl.scenario === undefined"
  md-mode="indeterminate">
</md-progress-circular-->

<br />
<br />

<div class="row">
  <div class="col-md-1 pull-left">
    <button
      class="btn btn-default"
      ng-click="$ctrl.back()">
      Previous
    </button>
  </div>
  <div class="pull-right" style="margin-right: 10px">
    <button
      class="btn btn-success"
      ng-click="$ctrl.proceed()">
      Next
    </button>
  </div>
</div>
