{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <base href="/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Forgot Password - AgBiz Logic</title>
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Dependencies -->

    <!-- AngularJS and additional modules -->
    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular-ui-router/release/angular-ui-router.js" %}"></script>
    <script src="{% static "angular-animate/angular-animate.js" %}"></script>
    <script src="{% static "angular-aria/angular-aria.js" %}"></script>

    <!-- jQuery (needed for Bootstrap) -->
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap -->
    <script src="{% static "angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" media="screen" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "flat-ui/css/flat-ui.css" %}" />

    <!-- Angular-Filter -->
    <script src="{% static "angular-filter/dist/angular-filter.min.js" %}"></script>

    <!-- Angular Material -->
    <script src="{% static "angular-material/angular-material.js" %}"></script>
    <link rel="stylesheet" href="{% static "angular-material/angular-material.css" %}">

    <!-- Modules -->
    <script src="{% static "common/common.module.js" %}"></script>
    <script src="{% static "/budget/static/budget/budget-manager" %}"></script>

    <!-- Services -->
    <script src="{% static "common/services/common/common.service.js" %}"></script>
    <script src="{% static "common/services/user/user.service.js" %}"></script>
    <script src="{% static "common/services/modal/modal.service.js" %}"></script>
    <script src="{% static "common/services/error/error.service.js" %}"></script>
    <script src="{% static "common/services/config/config.service.js" %}"></script>

    <!-- Forgot Password -->
    <script src="{% static "common/forgot-password/forgot-password.component.js" %}"></script>

    <!-- FIXME: Move to REST API endpoint -->
    <script>
      window.__config = {
        environment: "{{ view.environment }}",
      };
    </script>

  </head>
  <body>
    <br><br>

    <div ng-app="commonModule">

      <div class="ui-view-container">

        <forgot-password></forgot-password>

      </div>
    </div>

  </body>
</html>

{% endblock %}
