<!--<hr class="item-divider">-->

<form
  class="row"
  name="$ctrl.form">

  <span
    class="col-md-2"
    ng-bind="$ctrl.item.name">
  </span>

  <div class="col-md-2">
    <div class="input-group">
      <input
        name="inflation_rate"
        class="form-control input-number"
        maxlength="4"
        ng-blur="$ctrl.onChange({item: $ctrl.item})"
        ng-model="$ctrl.item.inflation_rate"
        ng-pattern="/^[-]{0,1}[0-9]{1,2}(\.[0-9]{1})?$/"
        onfocus="if(this.value === 0)this.value='';"
        onblur="if(this.value === '')this.value=0;">
      <span class="input-group-addon">%</span>
    </div>
  </div>

  <span
    class="help-block help-block-invalid col-md-4"
    ng-show="!$ctrl.form.inflation_rate.$valid && $ctrl.form.inflation_rate.$dirty">
    <span ng-if="$ctrl.form.inflation_rate.$error.pattern">
      Please enter a percentage with 1 decimal place (ex. 20.0)
    </span>
  </span>

</form>

<hr/>
