<h3>Welcome to <i>AgBizFinance</i>!</h3>

<p>You are now ready to create an <i>AgBizFinance</i> Scenario by clicking on the Create
  Scenario button. You will need at least two <i>AgBizFinance</i> Scenarios to create an
   <i>AgBizFinance</i> analysis. </p>

<br />

<div class="row">
  <div class="col-md-1 pull-left">
    <button
      class="btn btn-default"
      ng-click="$ctrl.skip()">
      Cancel
    </button>
  </div>
  <div class="col-md-2 pull-right">
    <button
      class="btn btn-success"
      ng-click="$ctrl.proceed()">
      Next
    </button>
  </div>
</div>
