<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <span
        class="col-md-12"
        ng-bind="$ctrl.message">
      </span>
    </div>

    <hr></hr>

    <div class="row">
      <div class="col-md-2">
        <button
          class="btn btn-warning"
          ng-click="$ctrl.deny()">
          Cancel
        </button>
      </div>

      <div class="col-md-2 col-md-offset-7">
        <button
          class="btn btn-success"
          ng-click="$ctrl.confirm()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
