/* Easily add flexbox using CSS classes. */

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-align-center {
    align-items: center;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-align-start {
    align-items: flex-end;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}
.flex-6 {
    flex: 6;
}
.flex-7 {
    flex: 7;
}
.flex-8 {
    flex: 8;
}
.flex-9 {
    flex: 9;
}
.flex-10 {
    flex: 10;
}