<div class="container" style="width:95%">
<h3 class="text-center">Build Your <i>AgBizFinance</i> Analysis</h3>

  <finance-step-indicator
    step="1"
    steps=$ctrl.steps_2>
  </finance-step-indicator>

  <h4>Cash Flow Review</h4>

      <table class="table table-bordered">
        <thead class="bg-primary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Year 1</th>
            <th scope="col">Year 2</th>
            <th scope="col">Year 3</th>
            <th scope="col">Year 4</th>
            <th scope="col">Year 5</th>
            <th scope="col">Year 6</th>
            <th scope="col">Year 7</th>
            <th scope="col">Year 8</th>
            <th scope="col">Year 9</th>
            <th scope="col">Year 10</th>
          </tr>
        </thead>

        <tbody >
          <tr>
              <th style="text-align: left; background-color:lightgrey;" colspan="11">Cash Received from Operations</th>
          </tr>
          <!-- <th scope="col" style="text-align: right;"ng-repeat="x in $ctrl.cashflowitem_income track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </th> -->
          <tr scope="col" style="text-align: right;" ng-repeat="(key, value) in $ctrl.cashflowitem_income | orderBy:'name'">

            <th scope="row">{{value.name |InitCase}}</th>
            <td>{{value.year_1 |currency:$:0}}</td>
            <td>{{value.year_2 |currency:$:0}}</td>
            <td>{{value.year_3 |currency:$:0}}</td>
            <td>{{value.year_4 |currency:$:0}}</td>
            <td>{{value.year_5 |currency:$:0}}</td>
            <td>{{value.year_6 |currency:$:0}}</td>
            <td>{{value.year_7 |currency:$:0}}</td>
            <td>{{value.year_8 |currency:$:0}}</td>
            <td>{{value.year_9 |currency:$:0}}</td>
            <td>{{value.year_10 |currency:$:0}}</td>
          </tr>

          <tr>
            <th>Total Cash Received from Operations</th>
            <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.total_cash_operations track by $index">
              <span ng-if="x === -1 "> n/a </span>
              <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
            </td>
            <!-- <td ng-repeat="x in $ctrl.total_cash_operations track by $index">{{x}}</td> -->
          </tr>


          <tr>
              <th style="text-align: left; background-color:lightgrey;" colspan="11">Cash Received from Capital Sales</th>
          </tr>

          <tr>
            <th>Intermediate Assets</th>
            <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.intermediate_sale_table track by $index">
              <span ng-if="x === -1 "> n/a </span>
              <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
            </td>
            <!-- <td ng-repeat="x in $ctrl.intermediate_sale_table track by $index">{{x}}</td> -->
          </tr>

          <tr>
            <th scope="col">Other Long-Term Assets</th>
            <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.facilities_sale_table track by $index">
              <span ng-if="x === -1 "> n/a </span>
              <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
            </td>
            <!-- <td ng-repeat="x in $ctrl.facilities_sale_table track by $index">{{x}}</td> -->
          </tr>

          <tr>
            <th scope="col">Real Estate</th>
            <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.real_estate_sale_table track by $index">
              <span ng-if="x === -1 "> n/a </span>
              <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
            </td>
            <!-- <td ng-repeat="x in $ctrl.real_estate_sale_table track by $index">{{x}}</td> -->
          </tr>

          <tr>
            <th scope="col">Total Cash Inflows</th>
            <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.total_cash_inflows track by $index">
              <span ng-if="x === -1 "> n/a </span>
              <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
            </td>
            <!-- <td ng-repeat="x in $ctrl.total_cash_inflows track by $index">{{x}}</td> -->
          </tr>

          <tr>
             <th style="text-align: left; background-color:lightgrey;" colspan="11">Cash Operation Expenses</th>
         </tr>

         <tr scope="col" style="text-align: right;" ng-repeat="(key, value) in $ctrl.cashflowitem_expense | orderBy:'name'">
           <th scope="row">{{value.name |InitCase}}</th>
           <td>{{value.year_1 |currency:$:0}}</td>
           <td>{{value.year_2 |currency:$:0}}</td>
           <td>{{value.year_3 |currency:$:0}}</td>
           <td>{{value.year_4 |currency:$:0}}</td>
           <td>{{value.year_5 |currency:$:0}}</td>
           <td>{{value.year_6 |currency:$:0}}</td>
           <td>{{value.year_7 |currency:$:0}}</td>
           <td>{{value.year_8 |currency:$:0}}</td>
           <td>{{value.year_9 |currency:$:0}}</td>
           <td>{{value.year_10 |currency:$:0}}</td>
         </tr>

         <tr>
           <th>Rent and Leases: Land and Animals</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.rent_leases_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.rent_leases_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Total Cash Expenses</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.total_cash_expenses track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.total_cash_expenses track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left; background-color:lightgrey;" colspan="11">Capital Expenses</th>
         </tr>

         <tr>
           <th>Intermediate Assets</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.intermediate_cap_ex_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.intermediate_cap_ex_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Long Term Assets</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.long_cap_ex_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.long_cap_ex_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left; background-color:lightgrey;" colspan="11">Other Outflows</th>
         </tr>

         <tr>
           <th>Wages and Salaries</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.wages_salaries_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.wages_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Employee Profit-Sharing & Benefits</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.employee_and_pension track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.salaries_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Family Withdrawals</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.family_withdrawls_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.family_withdrawls_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Contributions to Owner</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.contributions_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.contributions_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Income Tax</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.income_tax_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.income_tax_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left; background-color:lightgrey;" colspan="11">Scheduled Loan Payments</th>
         </tr>

         <tr>
             <th style="text-align: left;" colspan="11">Short Term</th>
         </tr>

         <tr>
           <th>Interest</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.short_interest_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.short_interest_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Principal</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.short_principal_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.short_principal_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left;" colspan="11">Intermediate Assets</th>
         </tr>

         <tr>
           <th>Interest</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.int_interest_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.int_interest_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Principal</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.int_principal_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.int_principal_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Capital Leases</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.cap_leases_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.cap_leases_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left;" colspan="11">Other Long-Term Assets</th>
         </tr>

         <tr>
           <th>Interest</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.improvement_interest_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.improvement_interest_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Principal</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.improvement_principal_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.improvement_principal_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left;" colspan="11">Real Estate</th>
         </tr>

         <tr>
           <th>Interest</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.real_interest_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.real_interest_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Principal</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.real_principal_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.real_principal_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Total Cash Outflows</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.total_cash_outflows track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.total_cash_outflows track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left; background-color:lightgrey;" colspan="11">New Borrowing</th>
         </tr>

         <tr>
           <th>Short Term</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.short_borrowing_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.short_borrowing_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Intermediate Assets</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.int_borrowing_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.int_borrowing_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Other Long-Term Assets</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.improvements_borrowing_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.improvements_borrowing_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Real Estate</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.real_borrowing_table track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.real_borrowing_table track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left; background-color:lightgrey;" colspan="11">Cash Flow Summary</th>
         </tr>

         <tr>
           <th>Beginning Cash Balance</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.beginning_cash_balance track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.beginning_cash_balance track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Inflows - Outflows</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.inflows_minus_outflows track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.inflows_minus_outflows track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Ending Cash Balance</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.ending_cash_balance track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.ending_cash_balance track by $index">{{x}}</td> -->
         </tr>

         <tr>
             <th style="text-align: left; background-color:lightgrey;" colspan="11">Outstanding Loan Balances</th>
         </tr>

         <!-- <tr>
           <th>Outstanding Credit Line Loans</th>
           <td ng-repeat="x in $ctrl.outstanding_credit_line track by $index">{{x}}</td>
         </tr> -->

         <tr>
           <th>Outstanding Short Term Notes</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.outstanding_short track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.outstanding_short track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Outstanding Non-R.E. Loans</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.outstanding_nonre track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.outstanding_nonre track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Outstanding Real Estate Loans</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.outstanding_real track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.outstanding_real track by $index">{{x}}</td> -->
         </tr>

         <tr>
           <th>Total Outstanding Loans</th>
           <td scope="col" style="text-align: right;"ng-repeat="x in $ctrl.total_outstanding track by $index">
            <span ng-if="x === -1 "> n/a </span>
            <span ng-if="x !== -1 "> {{x |currency:$:0}} </span>
          </td>
           <!-- <td ng-repeat="x in $ctrl.total_outstanding track by $index">{{x}}</td> -->
         </tr>

          </tbody>
      </table>

<div class="row">
  <div class="btn col-md-1 pull-left">
    <button
      class="btn btn-default"
      ng-click="$ctrl.back()">
      Previous
    </button>
  </div>
  <div class="btn col-md-1 pull-right">
    <button
      class="btn btn-success"
      ng-click="$ctrl.proceed()">
      Next
    </button>
  </div>
  <div class="btn pull-right">
  <cash-flow-pdf
    style="padding: 10px 0;"
    statements="$ctrl.pdf_data">
  </cash-flow-pdf>
  </div>
</div>
