<div class="panel panel-default">
  <div class="panel-heading">
    <h3
      class="panel-title"
      ng-bind="$ctrl.modal_title">
    </h3>
  </div>
  <div class="panel-body">

    <plan-search
      plan-list="$ctrl.plan_list"
      on-select="$ctrl.selectPlan(plan)">
    </plan-search>

    <form name="newPlanForm">
      <div class="row">
        <label
          class="col-md-3">
          Re-name the Plan:
        </label>
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            name="planTitle"
            placeholder="Enter Name..."
            ng-model="$ctrl.new_name"
            ng-change="$ctrl.Validate()"
            required>
          </input>
          <span class="error" ng-show="newPlanForm.planTitle.$touched && !$ctrl.new_name.length" style="color:red;">Required</span>
          <span class="error" ng-show="$ctrl.new_name.length && $ctrl.duplicatePlanTitle" style="color:red;">Duplicated Name</span>
        </div>
      </div>
    </form>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <button
          class="btn btn-warning"
          ng-click="$ctrl.cancel()">
          Cancel
        </button>
      </div>
      <div class="col-md-6">
        <button
          class="btn btn-success pull-right"
          ng-disabled="!$ctrl.new_name.length || $ctrl.duplicatePlanTitle || $ctrl.selectedPlan === false"
          ng-click="$ctrl.addNewPlan()">
          Copy
        </button>
      </div>
    </div>
  </div>
</div>
