/*#card {
  max-height: 478.45px;
  min-height: 478.45px;
}*/

div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }

#panel-body {
  max-height: 372px;
  overflow-y: scroll;
}


.scenario-title {
  font-size: 20px;
  font-weight: 500;
}

.panel.footer {
}
