.form-control {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  line-height: 1 !important;
}

.table-balance-sheet {
   margin: 0 auto !important;
   width: 65% !important;
}

/*.input {
  margin: 0 !important;
  padding: 0 !important;
}*/
