<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>Forgot Your Password?</h5>
      </div>
      <div class="panel-body">

        <div ng-if="$ctrl.show_form == false">
          Please enter your username in the form below, and we will send an email with the link to reset your password.
          <br>
        </div>

        <form name="$ctrl.form">

          <div class="row">
            <div class="col-md-4">
              <label>
                Username:
              </label>
              <input
                type="text"
                class="form-control"
                required="true"
                ng-model="$ctrl.username">
              </input>
            </div>

            <span
              class="col-md-4"
              ng-show="$ctrl.form.username.$invalid">
              Username is required
            </span>
          </div>

          <div
            class="row"
            ng-if="$ctrl.show_form == true">
            <div class="col-md-4">
              <label>
                New Password:
              </label>
              <input
                type="password"
                class="form-control"
                required="true"
                ng-model="$ctrl.new_password">
              </input>
            </div>

            <span
              class="col-md-4"
              ng-show="$ctrl.form.password.$invalid">
              Password is required
            </span>
          </div>

          <div
            class="row"
            ng-if="$ctrl.show_form == true">
            <div class="col-md-4">
              <label>
                Confirm New Password:
              </label>
              <input
                type="password"
                class="form-control"
                required="true"
                ng-model="$ctrl.new_password_confirm">
              </input>
            </div>

            <span
              class="col-md-4"
              ng-show="$ctrl.form.password_confirm.$invalid">
              Password is required
            </span>
          </div>

          <br>

          <div class="row">
            <div class="col-md-2">
              <button
                class="btn btn-success"
                ng-if="$ctrl.show_form == true"
                ng-disabled="$ctrl.form.$invalid"
                ng-click="$ctrl.submit()">
                Change Password
              </button>

              <button
                class="btn btn-primary"
                ng-if="$ctrl.show_form == false"
                ng-click="$ctrl.sendVerification()">
                Send Reset Email
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
